.row
  .col-sm-12
    .verba-brand
      = image_tag("https://d1015h9unskp4y.cloudfront.net/attachments/bae8bafd-4081-4b2b-b6f4-c9d4c367ded8/verba.png", class: "verba-logo")

.row
  .col-sm-12
    = form_tag(login_path, html: { class: "form signin" }) do
      - if flash.alert
        .form-group
          .row
            .col-sm-12
              .form-errors
                = flash.alert

      .row
        .col-sm-12
          .form-field
            = text_field_tag :username, nil, placeholder: "username"
      .row
        .col-sm-12
          .form-field
            = password_field_tag :password, nil, placeholder: "password"
      .row
        .col-md-12
          .submit-form
            = submit_tag "Login"

          .login-or-register
            = link_to "Register", new_user_path, class: "link"
            = link_to "Forgot password?", new_password_reset_path, class: "link"
