= render 'layouts/side_bar'


.col-sm-3.col-sm-offset-3
  = link_to "&#10094; back to my profile".html_safe, profile_path, class: "back"

.col-sm-9.col-sm-offset-3.stats
  %h1.heading Writers
  %table.writers-table
    %tr
      %th
        Username
      %th
        Words written
      %th
        Longest streak
    - @users.each do |user|
      %tr
        %td
          = link_to user.username, user_path(user), class: "link"
        %td
          = user.total_words
        %td
          = user.longest_streak


- unless @users.empty?
  = will_paginate @users
