.row
  .col-sm-12
    .verba-brand
      = image_tag("https://d1015h9unskp4y.cloudfront.net/attachments/bae8bafd-4081-4b2b-b6f4-c9d4c367ded8/verba.png", class: "verba-logo")

.row
  .col-sm-12
    = form_for(@user, html: {class: "form signup" }) do |f|
      - if @user.errors.any?
        .row
          .col-sm-12
            .form-errors
              There are input errors, correct them then try again.
      .form-group
        .row
          .col-md-6.col-sm-12
            .form-field
              = f.text_field :username, placeholder: "username"
              - add_errors_of(@user.errors, :username )
          .col-md-6.col-sm-12
            .form-field
              = f.text_field :email, placeholder: "email"
              - add_errors_of(@user.errors, :email )
      .form-group
        .row
          .col-md-6.col-sm-12
            .form-field
              = f.password_field :password, placeholder: "password"
              - add_errors_of(@user.errors, :password )
          .col-md-6.col-sm-12
            .form-field
              = f.password_field :password_confirmation, placeholder: "password confirmation"
              - add_errors_of(@user.errors, :password_confirmation )
      .row
        .col-sm-12
          .submit-form
            = submit_tag "Sign up"
          
          .login-or-register
            = link_to "Log in", login_path, class: 'link'
