= render 'layouts/side_bar'

.col-sm-3.col-sm-offset-3
  = link_to "&#10094; back to my profile".html_safe, profile_path, class: "back"

.col-sm-9.col-sm-offset-3.settings-section
  Unsubscribe
  = form_for @profile.user do |f|
    = f.check_box :unsubscribe
    = f.submit
