.top-left
  = link_to "Write", root_path, class: "write-button"
  = link_to "Archive", archive_path, class: "archive-profile-link"

.top-right
  = link_to "Log out", logout_path, class: "logout", method: :post

%h1.col-sm-6.col-sm-offset-3.title
  Profile

%section.stats.col-sm-6.col-sm-offset-3
  .word-stats
    = current_user.username
    , you have written
    %span.count= @post_today.word_count
    words today.
  .point-stats
    You have
    %span.points= @points
    points.
  .streak-stats
    Your current streak is
    %span.days= @current_streak
    day(s).
