- if @post_today.present?
  .word-count
    0
    %span.wordz.hidden
      words

  .saved
    Saved
    = @post_today.updated_at.strftime("%l:%M:%S%P")
   
  .close
    = link_to "X", profile_path
 
  .save-exit.hidden Save and exit 

  %article.writing-area
    %textarea.col-sm-6{autofocus: "autofocus", spellcheck: "false"}
      = @post_today.content
- else
  .top-left
    = link_to "Profile", profile_path, class: "write-button"
    = link_to "Archive", archive_path, class: "archive-profile-link"

  .top-right
    = link_to "Log out", logout_path, class: "logout", method: :post

  = link_to "Start today's writing", posts_path, class: "start-writing col-lg-6 col-lg-offset-3", method: :post
