%h1.blank-state-explanation
  This user has no public posts.
.filter
  .post-teaser
    .date
      11 May 2015
    .post-excerpt
      Lorem ipsum dolor sit amet...
      = link_to "Publish", "#", class: "button-light pull-right"
  .post-teaser
    .date
      11 May 2015
    .post-excerpt
      Lorem ipsum dolor sit amet...
      = link_to "Publish", "#", class: "button-light pull-right"
  .post-teaser
    .date
      11 May 2015
    .post-excerpt
      Lorem ipsum dolor sit amet...
      = link_to "Publish", "#", class: "button-light pull-right"
  .post-teaser
    .date
      11 May 2015
    .post-excerpt
      Lorem ipsum dolor sit amet...
      = link_to "Publish", "#", class: "button-light pull-right"
  .post-teaser
    .date
      11 May 2015
    .post-excerpt
      Lorem ipsum dolor sit amet...
      = link_to "Publish", "#", class: "button-light pull-right"
  .post-teaser
    .date
      11 May 2015
    .post-excerpt
      Lorem ipsum dolor sit amet...
      = link_to "Publish", "#", class: "button-light pull-right"
  .post-teaser
    .date
      11 May 2015
    .post-excerpt
      Lorem ipsum dolor sit amet...
      = link_to "Publish", "#", class: "button-light pull-right"
