= render 'layouts/side_bar'

.col-sm-3.col-sm-offset-3
  = link_to "&#10094; back to my profile".html_safe, profile_path, class: "back"

.col-sm-6.post
  .date
    = @post.date
  - if @profile.current_users_profile?
    - if @post.published
      = link_to "Unpublish", unpublish_path(@post.id), method: :post, class: "button-light pull-right"
    - else
      = link_to "Publish", publish_path(@post.id), method: :post, data: {confirm: "Publishing post. You can always unpublish."}, class: "button-light pull-right"

  - if @post.prompt
    %h2.prompt
      %span Prompt:
      = @post.prompt.content
  .content
    = markdown_format @post

  .comment-box
    .comment-box__comment-list
      - @post.comments.each do |comment|
        .comment-box__comment
          %span.comment-box__comment--top-bar
          %h3.comment-box__comment--user= comment.username
          %p.comment-box__comment--date= comment.date
          %p.comment-box__comment--content= comment.content

    .comment-box__input
      = form_for @comment, html: { class: "flex-start--column" } do |f|
        = f.text_area :content, placeholder: "Leave your feedback here."

        = f.hidden_field :post_id, value: @post.id

        = f.submit "Post comment", class: "button"
