= render 'layouts/side_bar'

.col-sm-3.col-sm-offset-3
  = link_to "&#10094; back to my profile".html_safe, profile_path, class: "back"

.col-sm-6.post
  .date
    = @post.date
  - if @profile.current_users_profile?
    - if @post.published
      = link_to "Unpublish", unpublish_path(@post.id), method: :post, class: "button-light pull-right"
    - else
      = link_to "Publish", publish_path(@post.id), method: :post, data: {confirm: "Publishing post. You can always unpublish."}, class: "button-light pull-right"

  - if @post.prompt
    %h2.prompt
      %span Prompt:
      = @post.prompt.content
  .content
    = markdown_format @post
