.top-left
  = link_to "Write", root_path, class: "write-button"
  = link_to "Archive", archive_index_path, class: "archive-profile-link"

.top-right
  = link_to "Log out", logout_path, class: "logout", method: :post

%h1.col-sm-6.col-sm-offset-3.title
  = current_user.username

%section.stats.col-sm-6.col-sm-offset-3
  .streak-stats
    Your current streak is
    %span.days= pluralize(@current_streak, "day")
    .days-visual
      - if @current_streak
        - @current_streak.times do |day|
          %span.day-cell
  .word-stats
    You have written
    %span.count= @post_today ? pluralize(@post_today.word_count, "word") : pluralize(0, "word")
    today.
  .post-count-stats
    You have written
    %span.post-count= pluralize(@post_count, "post")
