.col-sm-3.user-profile
  .verba-brand-side
    = image_tag("https://d1015h9unskp4y.cloudfront.net/attachments/bae8bafd-4081-4b2b-b6f4-c9d4c367ded8/verba.png", class: "verba-logo-small")

  .username
    = @profile.user.username

  .stats-container
    .stat
      .number
        = @profile.latest_post.word_count
      words on latest post
    .stat
      .number
        = @profile.posts_count
      posts written
    .stat
      .number
        = @profile.streak
      day streak

    = link_to "Stats and achievements", stats_path(current_user), class: "link__small"

    .log-out
      = link_to "Log out", logout_path, method: :post, class: "button-light"
