!!!
%html
  %head
    %title Verba
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{href: "http://fonts.googleapis.com/css?family=Vollkorn:400,700", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Lato:300,400,700", rel: "stylesheet", type: "text/css"}/
    = csrf_meta_tags
  %body{class: params[:controller]}
    .container
      - if flash[:achievement]
        .achievement
          = flash[:achievement]
      = yield
    - unless params[:controller] == "today"
      %footer.footer
        .container
          %p.footer__contentBrand Verba
          %p.footer__content.pull-right 
            Garrett Martin & the community on
            %span
              %a.footer__link{ :href => "http://assembly.com/verba" } assembly
            2015
