!!!
%html
  %head
    %title Verba
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{class: params[:controller]}
    .container{:class => "profile" }
      - if flash[:achievement]
        .overlay
        .big-modal
          .close x
          %h3 You earned...
          .achievements
            - flash[:achievement].each do |achievement|
              .achievement
                %span{class: "#{achievement.second}-badge"}
                = achievement.first
      = yield
